<div class="ui center aligned container" style="width:60%">
  <div class="ui container">
    <div class="ui segment">
    <%= form_for @nhis_citizen, html: {class: "ui form"}, method: :post, class: "ui form",  multipart: true do |f| %>
  <ul>
  <% @nhis_citizen.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <div class="field" style="font-size: 1.3em;">
    <%= f.label :first_name%><br />
    <%= f.text_field :first_name, required: true, placeholder: "First Name", autofocus: true %>
  </div>
  <div class="field" style="font-size: 1.3em;">
    <%= f.label :last_name%><br />
    <%= f.text_field :last_name, required: true, placeholder: "Last Name" %>
  </div>

  <div class="field" style="font-size: 1.3em;">
    <%= f.label "General ID" %><br />
    <%= f.text_field :general_id, required: true, placeholder: "Add a general ID" %>
  </div>
  <div class="field" style="font-size: 1.3em;">
    <%= f.label :description%><br />
    <%= f.text_area :description, required: true, placeholder: "Add a Description" %>
  </div>
  <div class="field">
    <%= f.file_field "image", class: "ui button", accept: "image/*"%>
  </div>
  <p>
    <%= f.submit "Submit", class: "ui primary button", style: "font-size: 1.2em;"%>
  </p>
  
<% end %>
</div>

</div>
</div>